# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env

# Flask instance and database
instance/
*.db
*.sqlite3

# Logs
*.log

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

reports/
